# Random Forest

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [4]:
data = pd.read_csv('C:/Users/LENOVO/Downloads/diabetes2.csv')

In [5]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
data.shape

(768, 9)

In [8]:
col_names=['Pregnancies','glucose','bp','skin','insulin','bmi','prdigree','age','label']
data.columns = col_names

In [9]:
data.head()

   Pregnancies  glucose  bp  skin  insulin   bmi  prdigree  age  label
0            6      148  72    35        0  33.6     0.627   50      1
1            1       85  66    29        0  26.6     0.351   31      0
2            8      183  64     0        0  23.3     0.672   32      1
3            1       89  66    23       94  28.1     0.167   21      0
4            0      137  40    35      168  43.1     2.288   33      1

In [10]:
data.describe()

,Pregnancies,glucose,bp,skin,insulin,bmi,prdigree,age,label
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [12]:
data.dtypes

Pregnancies      int64
glucose          int64
bp               int64
skin             int64
insulin          int64
bmi            float64
prdigree       float64
age              int64
label            int64
dtype: object

In [13]:
# split data input and taget variable(s)

X = data.drop(columns = 'label')
y = data['label']

In [14]:
X.head()

   Pregnancies  glucose  bp  skin  insulin   bmi  prdigree  age
0            6      148  72    35        0  33.6     0.627   50
1            1       85  66    29        0  26.6     0.351   31
2            8      183  64     0        0  23.3     0.672   32
3            1       89  66    23       94  28.1     0.167   21
4            0      137  40    35      168  43.1     2.288   33

In [15]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: label, Length: 768, dtype: int64

In [17]:
# before we create a model we need to standardize our independent features by using 

# standardize the dataset

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [20]:
X_scaled[0]

array([ 0.63994726,  0.84832379,  0.14964075,  0.90726993, -0.69289057,
        0.20401277,  0.46849198,  1.4259954 ])

In [21]:
data.iloc[0]

Pregnancies      6.000
glucose        148.000
bp              72.000
skin            35.000
insulin          0.000
bmi             33.600
prdigree         0.627
age             50.000
label            1.000
Name: 0, dtype: float64

In [22]:
# split into train ans test set

X_train, X_test,y_train,ytest = train_test_split(X_scaled,
                                                y,
                                                test_size = 0.30,
                                                random_state = 1)

In [23]:
y_train

88     1
467    0
550    0
147    0
481    0
      ..
645    0
715    1
72     1
235    1
37     1
Name: label, Length: 537, dtype: int64

In [25]:
# create the classifier
#Now is time to create our random forest classifier and them train it on the train set 
# we will also pass the number of trees (100) in the forest we want to use through the parameter called 
classifier = RandomForestClassifier(n_estimators = 10)

# train the model using the training 
classifier.fit(X_train , y_train)

RandomForestClassifier(n_estimators=10)