# Decision Three

In [1]:
# Decision Three classification 

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# ignoring warning
import warnings
warnings.filterwarnings('ignore')

In [3]:
dataset = pd.read_csv('C:/Users/LENOVO/Downloads/Social_Network_Ads.csv')

In [4]:
dataset.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [5]:
X =dataset.drop('Purchased',1)
y =dataset['Purchased']

In [6]:
# Splitting the dataset into the Training set and test set 

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25 , random_state=0)

In [7]:
# Features Scaling 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
# training the decision tree classification model on the training set 

from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy',random_state=0)
classifier.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [9]:
# predicting the test set result
y_pred = classifier.predict(X_test)

In [10]:
# making the confusion matrix

from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[62  6]
 [ 3 29]]

0.91